body {
    color: darkblue;
    background-color: whitesmoke;
}

#header1 {
    color: darkred;
    font-weight: bold;
    text-align: center;
}
.kobe, .mj, .lbj{
    height: 150px;
    width: 300px;
}
#table, tr, th, td{
    border: 1px solid darkred;
    text-align: center;

}

h4{
    text-align: center;
}
#table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}