@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro&display=swap');
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #AAD8D3;

}

nav {
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    /*display: flex;*/
    flex-direction: row;
    /*padding: 1em;*/
    /*margin: 0;*/
    display: flex;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#logo {
    display: flex;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
    /*padding: 1.5px;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*top: 1px;*/
}
#nav-items-left {
    /*justify-content: center;*/
}

#nav-items-right {

    /*margin-left: auto;*/
    /*flex-grow: 1;*/
    /*align-content: flex-start;*/
    /*flex-wrap: wrap;*/
}

nav a {
    /*border-right: 1px solid #77ACF1;*/
    color: #393E46;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    display: inline-block;
    padding: .6em;
}

.right-links {
    border: none;
}

nav a:hover {
    background: lightgrey;

}

footer {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 200px;
    width: 100%;
    margin: auto 0;
    flex: 1 0 auto;
    flex-shrink: 0;
    justify-content: flex-end;
}
.content {

}